@import "tailwindcss";

html,
body,
#root {
  width: 100%;
  height: 100%;
  margin: 0;
}

body {
  font-family: "JetBrains Mono", monospace;
  background: #111111;

  background-image:
    radial-gradient(rgba(255,255,255,0.08) 1px, transparent 1px);

  background-size: 18px 18px;
}